<div class = "hardsell container_backdrop">

  <h4>3 Reasons To Shop For A Photograph From HorschGallery.com</h4>
  <p><b>We offer a full refund including initial shipping.</b><br>If you aren't happy with your new photo, we'll refund everything. This includes: photo price + tax + initial shipping + free return shipping.</p>
  <p ><b>We feature one-of-a-kind photographs.</b><br>Every Chicago image was photographed and carefully crafted by gallery owner, Bob Horsch.  In contrast, large e-commerce print and poster websites sacrifice quality in order to mass produce.  </p>
  <p ><b>We are a long standing & reputable, local family business.</b><br>Since 1982, we have been selling high quality & affordable photos with two previous stores on Michigan Avenue.</p>


</div>
