<div class='headline container_backdrop' >

    <h1>A Chicago Photograph Lasts Forever</h1>
    <p class='summary'>Over the last 30 years Bob has documented the dynamic life and architecture of Chicago through the lens of a camera.  His photography portfolio contains a diverse selection of Chicago cityscape photos from all four colorful seasons blended with eye-catching pictures of the major Chicago sports teams and their respective home stadiums.</p>

    <p class="summary2">Here you can browse through hundreds of quality & affordable photographs ranging from the early 1900's to the present day.  All of his one-of-a-kind photographs are available in a variety of styles which include vintage, modern, black & white and color prints. </p>

    <p><b>Your memories of Chicago may soften over time, but a photograph of Chicago will preserve every detail.</b></p>

    <p>Thanks for visiting.</p>

    <p class='didyouknow'>Did you know Bob's Chicago photo gallery was on Michigan Ave. for almost 20 years?  <a href="#">Read more his story</a></p>

</div>
