<div class='navsection'>

    <div class='navcontainers container_backdrop'>

        <div class='navheader'>Customer Testimonial</div>
        "The photographs are even more stunning in person and the frame is very professional."<br/>
        <b>Cindy, 39 (09/13)</b><br/><a href="#">Read More Reviews</a>

    </div>

    <div class='navcontainers container_backdrop'>

        <div class='navheader'>Photgraphy Portfolio</div>

        <% @categories.where(main_cat: 'main').each do |category| %>

            <div class="list-group-item" id="user"><a class='navlink'  href=<%= category_url(category.id) %>><%= category.name.titleize %></a></div>

        <% end %>

<!--         <div class="list-group-item" id="user"><a class='navlink'  href="#">Top 10 / Best Sellers</a></div>
 -->        <!--     <span id='popup'>
          <div><a class='list-group-item' href="#">Chicago Gifts Top 10</a></div>
          <div><a class='list-group-item' href="#">Top Selling Chicago Sports</a></div>
          <div><a class='list-group-item' href="#">Top Selling Chicago Skyline</a></div>
        </span> -->
    <!--     <div class="list-group-item" id="user"><a class='navlink' href="#">Most Recent Photography</a></div>

        <div class="list-group-item-blank"><a href="#"></a></div>

        <div class="list-group-item"><a class='navlink' href="#">Chicago Black & White</a> </div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago Vintage</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago Panoramas</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago Cityscape</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago Aerials</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago Landmarks</a></div>

        <div class="list-group-item-blank"><a href="#"></a></div>

        <div class="list-group-item"><a class='navlink' href="#">Chicago Blackhawks</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago Bears</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago Cubs</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago White Sox</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Chicago Bulls</a></div>

        <div class="list-group-item-blank"><a class='navlink' href="#"></a></div>

        <div class="list-group-item"><a class='navlink' href="#">New York Yankees</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Other Sports Stadiums</a></div>

        <div class="list-group-item-blank"><a class='navlink' href="#"></a></div>

        <div class="list-group-item"><a class='navlink' href="#">Notre Dame Football</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Big 10 College Football</a></div>
        <div class="list-group-item"><a class='navlink' href="#">European Cities</a></div>

        <div class="list-group-item-blank"><a class='navlink' href="#"></a></div>

        <div class="list-group-item"><a class='navlink' href="#">San Francisco, California</a></div>
        <div class="list-group-item"><a class='navlink' href="#">Boston, Massachusetts</a></div>

        <div class="list-group-item-blank"><a class='navlink' href="#"></a></div>

        <div class="list-group-item-last"><a class='navlink' href="#">Nature Photography</a></div> -->

    </div>

</div>
