
<% if @photo.desc != nil %>

    <div class= 'photo_description container_backdrop'>


      <span class='quotes'><i class="fa fa-quote-left"></i></span>  <%= @photo.desc %>  <span class='quotes'><i class="fa fa-quote-right"></i></span>
      <br> <b>~ Bob Horsch</b>

    </div>

<% end %>
