
<% if @photo.desc != nil %>

    <div class= 'photo_description container_backdrop'>


      <p class='quote'> <%= @photo.desc %>
      &nbsp&nbsp<b>~Bob Horsch</b>
      </p>


    </div>

<% end %>
