
<div class='photocontainer'>
  <% @photos.where.not(homepage_rank: 0).order(:homepage_rank).each do |photo| %>
    <div class='photo container_backdrop'>
    <a href= <%= photo_url(photo.id) %>><img src= <%= photo.image_url %> width= "230px">  </a>
    <figcaption class="photo_thumb_title"><%= link_to photo.title, photo_url(photo.id) %><br/><%= photo.main_cat.titleize %></figcaption>
    </div>
  <% end %>
</div>
