/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */




 body{

  font-family: arial;
  background-image: url("http://i279.photobucket.com/albums/kk141/BobHorschGallery/black-Linen_zps5568c5bc.png");
  margin: 0px;
  font-size: 14px;
  color: #40403E;
}



.restofmenu{

}

h1{

  padding: 7px 0px 0px 0px;
  margin: 0px;
  font-size: 32px;
  font-weight: normal;

}

h1.prodtitle{

  font-size: 20px;
  padding: 5px 0px 15px 0px;
  text-align: left;
}

h4{

  margin: 0px;
  font-size: 18px;
  color: #07717A;
}


.container_backdrop{

 background-color: #F7F6F7;
 /*background-color: #F0F0EC;*/
  border-left: 1px solid #D6D6D6;
  border-top: 1px solid #D6D6D6;
  border-right: 2px solid #D6D6D6;
  border-bottom: 2px solid #D6D6D6;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;

}

a {

  color: #098994;
/*  color: #2F87B2;
*/  text-decoration: none;
  font-weight: bold;
}

a:visited{

  color: #098994;
  font-weight: normal
}

a:hover, a:active{

  color: #07717A;
  text-decoration: none;
}

.pagecontainer{


  padding: 0px;
  margin: 0px auto;
  width: 1010px;
  background: white;

}

.menubar{

    padding: 5px;
    margin:0px;

    overflow: auto;
}

.account_right-justify{

  float:right;
  padding: 0px;
  margin: 0px;
  padding-top: 15px;

}

.logo{
   float:left;
}

.restofmenu{
   float:left;
   padding-top: 15px;
}

header{

  width: 100%;
  border-bottom: .5px solid rgb(219, 219, 219);


}

.banner{

  border-top: solid 1px #40403E;
  border-bottom: solid 1px #40403E;
  margin: 0px 0px 0px 0px;

}


li {

  display: inline-block;
}

li a {


  padding: 0px 6px 0px 6px;
  margin: 0px;

  text-decoration: none;
  text-align: center;

  width: 50px;
  font-size: 13px;

}


.promotion{

  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #8C8C8C;
  border-top: 1px solid #8C8C8C;
  margin: 10px auto 10px auto;

  width: 960-16px;
  background: #F0F0EC;

}

.promotext{

  font-weight: bold;
  color: rgb(153, 0, 0);
  padding: 10px 0px 10px 0px;
  font-size: 16px;

}
.searchfield {

  padding: 5px 0px 15px 5px;
  margin: 0px;
  font-size: 14px;
  float: left;

}


.frontpage{

  width: 790px;
  float: left;

  padding: 0px 10px;
  margin: 0px 0px 0px 10px;
  border-style: 1px solid black;
  overflow: auto;
}

.headline{

  text-align: left;
  padding-bottom: 0px;
}


.didyouknow{

  border-top: 1px solid #8C8C8C;
  padding: 10px 0px 0px 0px;

}

.photocontainer{

  overflow: auto;
  margin: 0px 5px;

}

.photo{

  width: 234px;
  height: 245px;

  float: left;
  font-size: 12px;

  padding: 10px 5px 5px 10px;
  margin: 4px;

}

figcaption{

  margin: 0px;
  line-height:18px;

}

.navsection{


      width: 180px;
      float: left;
      font-size: 13px;
      margin-left: 9px;
    }


.navheader{


  background-color: #F7F6F7;
  color: #333;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 6px;
  border-bottom: solid 1px #40403E;

}


.navcontainers {


      width: 180px;
      float: left;
      padding: 5px;

    }

.list-group-item, .list-group-item-blank {

    padding: 5px 2px 5px 2px;
    margin: 2px 0px;
    border-bottom: 1px solid #8C8C8C;
    border-radius: 3px;
}

.list-group-item-last {

    padding: 5px 2px 5px 2px;
    margin: 2px 0px;
    border-radius: 3px;
}


.fa, .fa-chevron-right .fa-sign-in{

  text-align: right;
  color: rgb(247, 140, 64);
}





.list-group-item:hover{

  text-decoration: none;
  background-color: #B8CAE5;
  border-radius: 3px;
  color: #2F87B2;
}

.list-group-item-blank:hover{

  text-decoration: none;
  background-color: #F0F0EC;
  border-radius: 3px;
  color: #8A8A8A;

}

a.navlink:hover{

  color: #2F87B2;
  text-decoration: none;
}

.searchbar{
  font-size: 14px;
  border-radius: 3px;
  line-height: 24px;
   color: #8C8C8C;
   padding: 0px;
   margin: 0px;

}



.searchbar:focus{


}

.action_button{




    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;

    background-color: #E8843C;
    border-top-color: rgb(195,94,16);
    border-right-color: rgb(195,94,16);
    border-bottom-color: rgb(195,75,21);
    border-left-color: rgb(195,94,16);

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;

    border-collapse: collapse;
    border-spacing: 0px 0px;


    color: white;
    cursor: pointer;
    display: inline-block;

    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-shadow: rgba(0, 0, 0, 0.15) 0px -1px 0px;


    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-text-blink: none;
    -moz-text-decoration-color: rgb(255, 255, 255);
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;

    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-writing-mode: horizontal-tb;

}

a.action_button {

  color: white;

}



a.action_button:hover, a.action_button:active {

  background-color: #D17736;
  text-decoration: none;
  color: white;

}

.search_button{


    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    width: 80px;
}

.cart_button {

    font-size: 15px;
    font-weight: 700;
    line-height: 34px;
    width:  320px;
}

.submit_button{

    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    width:  275px;


}




.footer{

      width: 100%;

      background: #C7C7C4;
      text-align: center;
      font-size: 12px;
      clear: both;
      padding: 15px 0px 5px 0px;
      margin: 20px auto 20px auto;

    }

/*=====================  show page =================*/

 .fav_button {


    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;

    background-color: rgb(243, 243, 242) ;


    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;

    border-bottom-color: rgb(205, 201, 198);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;

    border-left-color: rgb(216, 213, 210);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(216, 213, 210);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 218, 214);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;

    color: rgb(90, 85, 82);
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;

    font-size: 20px;
    line-height: 34px;


    outline-color: rgb(90, 85, 82);
    outline-style: none;
    outline-width: 0px;



    position: relative;
    text-align: center;
    text-rendering: optimizelegibility;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;

    width: 50px;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}


.fav_button:hover, .fav_button:active {
  background-color: #E8E8E7;
  text-decoration: none;
  color: black;
}


.fix {
margin: 5px;
}

.showcase {

  width: 500px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.zoom{

  margin: 0px auto;
  text-align: center;
  margin: 5px;

}

.zoombutton{

  border: 1px solid #8A8A8A;
  background-color: #F0F0EC;
  color: gray;
  border-radius: 2px;
  width: 60px;
  padding: 5px 0px;
  color: white;


}

a.zoombutton {

  color: black;

}



.product_info, .extra_product_info{

  text-align: left;
  width: 415px;
  float: left;

}

.sellbuttons{
  width: 100%;
  text-align:  left;

}

.pricecolor{
  font-weight: bold;
  font-size: 16px;
  color: rgb(153, 0, 0);
}

.poster-container {

   display: inline-block;
   padding: 10px 10px 0px 10px;
   width: 10%;
 }

 .ribbon {

    max-width: 100%;
   white-space: nowrap;
   clear: both;

}

.breadcrumbs{

  margin-left: 10px;
}

.hardsell{

    clear: both;
}

.photo_description{

  float:left;
  clear:both;

  }

.orangetext{

  font-weight: bold;
  color: #ED742B;
  font-size: 16px;

}




.labeltag{
  width: 100px;
  text-align: left;
  border: 2px solid black;
}

.notice{
  color: red;
}

.stars{
  color: #E5BB3E;
}



.quotes{
  font-size: 20px;
  font-weight: bold;
}
